{% extends "main/base.html" %}

{% block content_online %}
<div class="container py-1">
  <h2>Company acronyms</h2>
  All available company symbols are taken from <a href="https://www.nasdaq.com/market-activity/stocks/screener">Nasdaq</a>.
</div>
<table class="table table-hover table-dark">
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th>Country</th>
    <th>Sector</th>
    <th>Industry</th>
    {% for company in pd_company_acronyms %}
        <tr>
          <td>{{ company.0 }}</td>
          <td>{{ company.1 }}</td>
          <td>{{ company.6 }}</td>
          <td>{{ company.9 }}</td>
          <td>{{ company.10 }}</td>
        </tr>
    {% endfor %}
  </tr>
</table>

{% endblock %}s