{% extends "main/base.html" %}

{% block content_online %}
<div class="container py-1">
  <h2>Favorite companies</h2>
</div>
<table class="table">
  <tr>
    <thead class="thead-dark">
        <th>Company acronym</th>
        <th>Remove</th>
    </thead>
    {% for company in fav_comp %}
        <tr>
          <td>{{ company.company_acr }}</td>
          <td>
            <a  href="#"
                onclick="return confirm('Are you sure you want to delete?');"
                data-value="{{ company.company_acr }}">-</a>
            </td>
        </tr>
    {% endfor %}
  </tr>
</table>

{% endblock %}s